%bai-200 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 200;
}

%bai-300 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 300;
}

%bai-400 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
}

%bai-500 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
}

%bai-600 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
}