@import './Abstractions/buttons.scss';
@import './Abstractions/typography.scss';
@import './Abstractions/variables.scss';
@import './Abstractions/placeholders.scss';

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

header {
    @extend %default;
    padding-block: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/bg-header-desktop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .logo-wrapper {
        padding: 3em;
        img {
            width: 100%;
        }
    }
    
    .header-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            @extend %bai-600;
            color: $dark-grayish-blue;
            font-size: 2.5rem;
            padding: .3em .5em;
        }

        p {
            @extend %bai-500;
            color: $grayish-blue;
            font-size: 1.17rem;
            text-align: center;
            max-width: 65%;
            padding: .5em;
            line-height: 1.8rem;
        }
    }

    .header-buttons {
        margin-top: 1em;
        display: flex;
        gap: 1em;

        a {
            @extend %button;
        }

        .ios {
            @extend %ios;
        }
        .mac {
            @extend %mac;
        }
    }
}

main {
    @extend %default;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    max-width: 1444px;

    .main-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;

        h2 {
            font-size: 2rem;
            @extend %bai-600;
            color: $dark-grayish-blue;
            padding: .5em;
        }

        p {
            @extend %bai-500;
            color: $grayish-blue;
            font-size: 1.1rem;
            text-align: center;
            max-width: 55%;
            padding: .5em;
            line-height: 1.8rem;
        }
    }

    .main-image-text {
        max-width: 1440px;
        display: flex;

        .main-img-container {
            position: relative;
            right: 1.5em;
            width: 60%;

            img {
                width: 100%;
            }
        }

        .main-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 5%;

            .text-container {
                max-width: 65%;
                padding-block: 1em;
                padding-left: 5em;

               h3 {
                    @extend %bai-600;
                    color: $dark-grayish-blue;
                    font-size: 1.4em;
                    padding-block: .5em;  
                }

                p {
                    @extend %bai-500;
                    color: $grayish-blue;
                    font-size: 1rem;
                    line-height: 1.8rem;
                }
            }
        }
    }
}

.section-1 {
    @extend %default;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    max-width: 1444px;

    .s1-text {
        padding-block: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2rem;
            @extend %bai-600;
            color: $dark-grayish-blue;
            padding: .5em;
        }

        p {
            @extend %bai-500;
            color: $grayish-blue;
            font-size: 1.1rem;
            text-align: center;
            max-width: 75%;
            padding: .5em;
            line-height: 1.8rem;
        }
    }

    .s1-img {
        width: 65%;
        margin-block: 2em;

        img {
            width: 100%;
        }
    }
}

.section-2 {
    @extend %default;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2em;
    max-width: 1444px;

    .s2-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
        
        h2 {
            font-size: 2rem;
            @extend %bai-600;
            color: $dark-grayish-blue;
            padding: .5em;
        }

        p {
            @extend %bai-500;
            color: $grayish-blue;
            font-size: 1.1rem;
            text-align: center;
            line-height: 1.8rem;
        }
    }

    .s2-benefits {
        display: flex;
        justify-content: center;
        margin-block: 2em;

        .benefit {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 27%;

            .img-container {
                padding: 1em;

                img {
                    width: 100%;
                }
            }

            .text-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 1.4rem;
                    @extend %bai-600;
                    color: $dark-grayish-blue;
                    padding: .5em;
                }

                p {
                    @extend %bai-500;
                    color: $grayish-blue;
                    font-size: .95rem;
                    text-align: center;
                    line-height: 1.8rem;
                    width: 93%;
                }
            }

            .push-down {
                position: relative;
                top: .55rem;
                padding-bottom: .2em;
            }
        }
    }
}

.sponsors {
    @extend %default;
    display: flex;
    margin-block: 8em;
    max-width: 1444px;
    justify-content: center;
    gap: 5em;
    position: relative;

    .img-container {
        padding: .5em;

        img {
            width: 100%;
        }
    }
}

.section-3 {
    @extend %default;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 2em;

    .s3-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 2rem;
            @extend %bai-600;
            color: $dark-grayish-blue;
            padding: .5em;
        }

        p {
            @extend %bai-500;
            color: $grayish-blue;
            font-size: 1.1rem;
            text-align: center;
            line-height: 1.8rem;
            max-width: 65%;
        }
    }

    .s3-buttons {
        margin-top: 1em;
        display: flex;
        gap: 1em;

        a {
            @extend %button;
        }

        .ios {
            @extend %ios;
        }
        .mac {
            @extend %mac;
        }
    }
}
