.section-3 .s3-text p, .section-2 .s2-benefits .benefit .text-container p, .section-2 .s2-intro p, .section-1 .s1-text p, main .main-image-text .main-text-container .text-container p, main .main-intro p, header .header-text p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
}

.section-3 .s3-text h2, .section-2 .s2-benefits .benefit .text-container h3, .section-2 .s2-intro h2, .section-1 .s1-text h2, main .main-image-text .main-text-container .text-container h3, main .main-intro h2, header .header-text h1, .section-3 .s3-buttons a, header .header-buttons a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

.section-3 .s3-buttons a, header .header-buttons a {
  color: #fff;
  text-decoration: none;
  padding-block: 0.92em;
  padding-inline: 2.5em;
  border-radius: 150px;
  transition: 300ms ease;
}
.section-3 .s3-buttons a:hover, header .header-buttons a:hover {
  opacity: 0.8;
}

.section-3 .s3-buttons .ios, header .header-buttons .ios {
  margin: 1.5em 0em 1.5em 0.5em;
  background-color: #26baa4;
  box-shadow: 0px 2.2px 0px 1px #209E8B, 0px 13px 21px -9px rgba(78, 219, 170, 0.7);
}

.section-3 .s3-buttons .mac, header .header-buttons .mac {
  margin: 1.5em 0.5em 1.5em 0em;
  background-color: #6173ff;
  box-shadow: 0px 2.2px 0px 1px #4F5ECF, 0px 13px 21px -9px rgba(1, 3, 255, 0.47);
}

.section-3 .s3-text p, .section-2 .s2-benefits .benefit .text-container p, .section-2 .s2-intro p, .section-1 .s1-text p, main .main-image-text .main-text-container .text-container p, main .main-intro p, header .header-text p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
}

.section-3 .s3-text h2, .section-2 .s2-benefits .benefit .text-container h3, .section-2 .s2-intro h2, .section-1 .s1-text h2, main .main-image-text .main-text-container .text-container h3, main .main-intro h2, header .header-text h1, .section-3 .s3-buttons a, header .header-buttons a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

.section-3 .s3-text p, .section-2 .s2-benefits .benefit .text-container p, .section-2 .s2-intro p, .section-1 .s1-text p, main .main-image-text .main-text-container .text-container p, main .main-intro p, header .header-text p {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
}

.section-3 .s3-text h2, .section-2 .s2-benefits .benefit .text-container h3, .section-2 .s2-intro h2, .section-1 .s1-text h2, main .main-image-text .main-text-container .text-container h3, main .main-intro h2, header .header-text h1, .section-3 .s3-buttons a, header .header-buttons a {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
}

.section-3, .sponsors, .section-2, .section-1, main, header {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

header {
  padding-block: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/bg-header-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .logo-wrapper {
  padding: 3em;
}
header .logo-wrapper img {
  width: 100%;
}
header .header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .header-text h1 {
  color: #4c545d;
  font-size: 2.5rem;
  padding: 0.3em 0.5em;
}
header .header-text p {
  color: #9fabb2;
  font-size: 1.17rem;
  text-align: center;
  max-width: 65%;
  padding: 0.5em;
  line-height: 1.8rem;
}
header .header-buttons {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}
main {
  margin-top: 1%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  max-width: 1444px;
}
main .main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}
main .main-intro h2 {
  font-size: 2rem;
  color: #4c545d;
  padding: 0.5em;
}
main .main-intro p {
  color: #9fabb2;
  font-size: 1.1rem;
  text-align: center;
  max-width: 55%;
  padding: 0.5em;
  line-height: 1.8rem;
}
main .main-image-text {
  max-width: 1440px;
  display: flex;
}
main .main-image-text .main-img-container {
  position: relative;
  right: 1.5em;
  width: 60%;
}
main .main-image-text .main-img-container img {
  width: 100%;
}
main .main-image-text .main-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}
main .main-image-text .main-text-container .text-container {
  max-width: 65%;
  padding-block: 1em;
  padding-left: 5em;
}
main .main-image-text .main-text-container .text-container h3 {
  color: #4c545d;
  font-size: 1.4em;
  padding-block: 0.5em;
}
main .main-image-text .main-text-container .text-container p {
  color: #9fabb2;
  font-size: 1rem;
  line-height: 1.8rem;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  max-width: 1444px;
}
.section-1 .s1-text {
  padding-block: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1 .s1-text h2 {
  font-size: 2rem;
  color: #4c545d;
  padding: 0.5em;
}
.section-1 .s1-text p {
  color: #9fabb2;
  font-size: 1.1rem;
  text-align: center;
  max-width: 75%;
  padding: 0.5em;
  line-height: 1.8rem;
}
.section-1 .s1-img {
  width: 65%;
  margin-block: 2em;
}
.section-1 .s1-img img {
  width: 100%;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2em;
  max-width: 1444px;
}
.section-2 .s2-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.section-2 .s2-intro h2 {
  font-size: 2rem;
  color: #4c545d;
  padding: 0.5em;
}
.section-2 .s2-intro p {
  color: #9fabb2;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.8rem;
}
.section-2 .s2-benefits {
  display: flex;
  justify-content: center;
  margin-block: 2em;
}
.section-2 .s2-benefits .benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 27%;
}
.section-2 .s2-benefits .benefit .img-container {
  padding: 1em;
}
.section-2 .s2-benefits .benefit .img-container img {
  width: 100%;
}
.section-2 .s2-benefits .benefit .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-2 .s2-benefits .benefit .text-container h3 {
  font-size: 1.4rem;
  color: #4c545d;
  padding: 0.5em;
}
.section-2 .s2-benefits .benefit .text-container p {
  color: #9fabb2;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.8rem;
  width: 93%;
}
.section-2 .s2-benefits .benefit .push-down {
  position: relative;
  top: 0.55rem;
  padding-bottom: 0.2em;
}

.sponsors {
  display: flex;
  margin-block: 8em;
  max-width: 1444px;
  justify-content: center;
  gap: 5em;
  position: relative;
}
.sponsors .img-container {
  padding: 0.5em;
}
.sponsors .img-container img {
  width: 100%;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2em;
}
.section-3 .s3-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-3 .s3-text h2 {
  font-size: 2rem;
  color: #4c545d;
  padding: 0.5em;
}
.section-3 .s3-text p {
  color: #9fabb2;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.8rem;
  max-width: 65%;
}
.section-3 .s3-buttons {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

/*# sourceMappingURL=index.css.map */
